{% extends 'base.html' %}
{% load static %}

{% block addtionalScriptsHead %}
<!-- ESRI (arcGIS maps) API and stylesheet -->
<link rel="stylesheet" href="https://js.arcgis.com/4.12/esri/themes/light/main.css">
<script src="https://js.arcgis.com/4.12/"></script>

<!-- My Scripts -->
<script>
  const reportIncidentPage="{% url 'reportIncident' %}";
  const urls = {
        'img_folder': '{% static "img/" %}',
        'save_track_data': "{% url 'save_track_data' %}",
        'get_track_ID': "{% url 'get_track_ID' %}",
  };
</script>
<link rel="stylesheet" href="{% static 'css/startActivityOverlay.css' %}">
{% csrf_token %}

{% endblock %}

{% block content %}
<!-- The gray overlay that comes up when thigns are pressed -->
<div id="fullOverlay" onclick="resetMapsPage()"></div>

 <!-- Reporting incident navbar -->
  <div id="reportIncidentBar" style="display: none";>
      <div style="float: left; width: 60px; display: inline-block; height:100%">
          <button class="navBtn"
                  onclick="cancelCreate()">
              <i class="material-icons" class="btnIcon">arrow_back</i>
          </button>
      </div>
      <div style="width: calc(100% - 120px); display: inline-block; height:100%; vertical-align: 'middle'">
          <p id="locationHelpTxt" class="titleReportTxt"
             style="padding: 0; margin: 0;">
              Tap to select a location
          </p>
      </div>
      <div id='submitReportBtn' style="float: right; width: 60px; display: none; height: 100%">
        {% if user.is_authenticated %}
          <button class="navBtn"
                  onclick="submitReport()">
              OK
          </button>
        {% else %}
        <script>
          const loginPage = "{% url 'login' %}";
        </script>
        <button class="navBtn"
                onclick="window.location.href = loginPage;">
            OK
        </button>
        {% endif %}
      </div>
  </div>

  <!-- ESRI MapView -->
  <div id="viewDiv">
      <!-- Button to show activities to start -->
      <div id="topbar" style="background-color: rgba(0,0,0,0);">
          <button class="action-button" id="openActivities"
                  type="button" style="align: center;">
              <i class="material-icons" style="font-size: 25px; vertical-align: middle;">add</i>
          </button>
      </div>

      <div id="overlayAdd" style="display: none;">
        <div class="addDiv">
          <button type="button" id="reportIncidentBtn"
          style="position: absolute; z-index: 2; width: 100%; height: 30px; opacity: 0;"></button>
          <span class="addPara"><i class="material-icons" style="font-size: 18px;">note_add</i> Report Incident</span>
        </div>
        <div class="addDiv inactive">
          <span class="addPara"><i class="material-icons" style="font-size: 18px;">local_parking</i> Plan Activity</span>
        </div>
        <div class="addDiv" id="startAct" onclick="openStartActivity()">
          <span class="addPara"><i class="material-icons" style="font-size: 18px;">play_arrow</i> Start Activity</span>
        </div>
      </div>
  </div>

  <!-- The start activity overlay (choose activity) -->
  <div id="startActivityOverlay">
    <div class="titleRow">
      Select Activity Type
    </div>
    <div style="padding: 10px;">
      <div id="activityChoices">
        <div class="choiceAct active selected" id="patrolAct" onclick="selectActivity(this, 'choiceAct')">
          <img src="{% static 'img/walkingIcon.png' %}" class="imgIcon">
          <p class="imgTxt">Patrol</p>
        </div>
        <div class="inactive choiceAct" onclick="selectActivity(this, 'choiceAct')">
          <img src="{% static 'img/speedometerIcon.png' %}" id="speedWatchAct" class="imgIcon">
          <p class="imgTxt">Speedwatch</p>
        </div>
        <div class="inactive choiceAct" style="margin-right: 0;" onclick="selectActivity(this, 'choiceAct')">
          <img src="{% static 'img/starredCalendarIcon.png' %}" id="commEventAct" class="imgIcon">
          <p class="imgTxt">Event</p>
        </div>
      </div>
      <!-- <div class="addRow">
        <p class="rowHead">Add Other Members</p>
        <p class="rowSubHead">Tap to add other members (if applicable)</p>
      </div> -->
      <button class="activitySubmitBtn" onclick="startActivity()">Start Activity</button>
    </div>
  </div>

    {% comment %} Patrol Popup From Bottom {% endcomment %}
    <div id="patrolOverlay">
      <div class="addRow" style="margin: 0;">
        <p style="margin: 0; padding: 0; color: rgba(0,0,0,0.54)"><i class="material-icons" style="margin: 0; padding: 0; width: 25px;">directions_walking</i>Patrol</p>
      </div>
      <p style="height: 40px;	width: 208px;	color: rgba(0,0,0,0.54);
      	       font-size: 31px;	letter-spacing: 1.11px;	line-height: 40px;
               font-family: 'Courier New' width: 100%; margin: auto;
               text-align: center;" id="patrolTimer">
               00:00:00
      </p>
      <button class="activitySubmitBtn" onclick="endPatrol()" style="margin-top: 10px; padding: 0;">End Patrol</button>
    </div>

    {% comment %} Do you want to save question {% endcomment %}
    <div id="endTrack">
      <div class="titleRow">
        Data Save Finish
      </div>

      <div style="padding: 10px;">
        {% comment %} Ask about saving data {% endcomment %}
        <div id="saveChoiceRow" class="choiceRow" style="height: auto;">
          <h5>Would you like to save the tracking data?</h5>
          <div class="choiceSaveTrack active selected" id="saveTrack_yes"
               onclick="selectActivity(this, 'choiceSaveTrack')">
              <div class="tableDisplay">
                <p class="tableText">Yes</p>
              </div>
          </div>
          <div class="choiceSaveTrack active" id="saveTrack_no"
               onclick="selectActivity(this, 'choiceSaveTrack')">
             <div class="tableDisplay">
               <p class="tableText">No</p>
             </div>
          </div>
        </div>

        {% comment %} Ask about anonymising data{% endcomment %}
        <div id="anonChoiceRow" class="choiceRow" style="margin-top: 10px;">
          <h5>Would you like this data to be anonymised?</h5>
          <div class="choiceAnon active" id="makeAnon_yes"
               onclick="selectActivity(this, 'choiceAnon')">
              <div class="tableDisplay">
                <p class="tableText">Yes</p>
              </div>
          </div>
          <div class="choiceAnon active selected" id="makeAnon_no"
               onclick="selectActivity(this, 'choiceAnon')">
             <div class="tableDisplay">
               <p class="tableText">No</p>
             </div>
          </div>
        </div>

        <button class="activitySubmitBtn" onclick="endActivity()">End Activity</button>
      </div> <!-- End the overlay content div -->

    </div> <!-- End overlay div -->


  <div id="vertCrosshair"></div>
  <div id="horizCrosshair"></div>

</body>
{% endblock %}







{% block additionalScriptsFoot %}
<script src="{% static 'js/reportIncidentInMap.js' %}" type="text/javascript"></script>
<script src="{% static 'js/maps.js' %}" type="text/javascript"></script>
<script src="{% static 'js/cards.js' %}" type="text/javascript"></script>
<script src="{% static 'js/startActivity.js' %}" type="text/javascript"></script>
<script>
    $('#openActivities').click(function() {
      $('#openActivities').hide();
      $('#fullOverlay').show();
      $('#overlayAdd').show();
    });
</script>
{% endblock %}
